{% extends 'base.html' %}
{% block title %}
<title>Home</title>
{% endblock title %}

{% block content %}
<div class="container" style="display: flex;justify-content: center;">
    <div class="card shadow"  style="border-radius: 0.5rem;width: 650px;">
        <div class="card-header">
            <h1 align="center" style="margin-top: 25px; font-family: Arial, Helvetica, sans-serif;">Create Task </label>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <input type="text" name="title" placeholder="Task Title" class="form-control" required><br><br>
                <textarea class="form-control" name="description" placeholder="Description...." required></textarea><br>
                <center>

                    <input type="submit" value="Add Task" class="btn btn-success">
                </center>
            </form>
        </div>
    </div>
</div>
{% endblock content %}